<footer class="footer">
    <ul class="footer__ul">
        <li class="footer__li"><a class="footer__a" href="#">Aviso legal</a></li>
        <li class="footer__li"><a class="footer__a" href="#">Política de privacidad</a></li>
        <li class="footer__li"><a class="footer__a" href="#">Política de cookies</a></li>
    </ul>
    <div class="footer__div">
        <p class="footer__p">2023 &copy; GNSS-ESA</p class="footer__p">
        <p class="footer__p">Actividad realizada por Nicolas Moncada Herrera</p class="footer__p">
        <p class="footer__p">Información elaborada a partir de la biblioguía <a href="https://biblioteca.uoc.edu/es/biblioguias/biblioguia/Mujeres-ciencia-y-tecnologia/">Mujeres ciencia y tecnología</a> de la biblioteca de la <abbr title="Universitat Oberta de Catalunya" lang="ca">UOC</abbr></p class="footer__p">
    </div>
</footer>