<header class="header">
    <nav class="header__nav">
        <ul class="header__ul">
            <li class="header__li"><a class="header__a" href="#gnss"> GNSS</a></li>
            <li class="header__li"><a class="header__a" href="#segmentos"> Segmentos</a></li>
            <li class="header__li"><a class="header__a" href="#sbas"> SBAS</a></li>
        </ul>
    </nav>
    <img class="header__img" src="./assets/images/header0.jpeg" alt="banner-web-vista-al-espacio">

    <h1 class="header__h1"><i class="fa-solid fa-satellite"></i>GNSS: Global Navigation Satellite System<i
            class="fa-solid fa-satellite"></i></h1>
</header>