@use "sass:color";

$font-family-spacial1: 'Orbitron', sans-serif;
$font-family-spacial2: 'Space Mono', monospace;
$font-family-spacial3: 'Arvo', serif, "Georgia";

/**********************************
FONT SIZE MOBILE FIRST
**********************************/
$font-size-h1: 2rem;
$font-size-h2: 1.8rem;
$font-size-h3: 1.5rem;
$font-size-p : 1rem;

/**********************************
FONT SIZE ONLY DESKTOP
**********************************/
$desk-font-size-h1: 3rem;
$desk-font-size-h2: 2.2rem;
$desk-font-size-h3: 2rem;
$desk-font-size-p : 1.2rem;





