@use "sass:color";

$font-family-spacial1: 'Orbitron', sans-serif, ;
$font-family-spacial2: 'Space Mono', monospace;
$font-family-spacial3: 'Arvo', serif, "Georgia", "Times New Roman", serif;

$font-size-h2: 5.4rem;

$color-first       : #181818;
$color-second      : #f0f0f0;





















//-------------------------------uoc-boilerplate---------------------------------------
$uoc-corporate: #000078;
$myBackgroud: #81ff73;
$uoc-bg: color.scale($myBackgroud, $lightness: 70%);

$mqMinWidth: 420px;
