.figure  {
    margin: 5% 0 5% 0;

    &__figcaption {
        margin: 2% 0 1% 0;
        font-style: italic;
        color: var(--color-blue);
        text-align: center;
    }

    &__video {
        @media (min-width: 992px){
            height: 515;
        }
    }
}