.header {
    margin-bottom: 10%;
    font-family: $font-family-spacial1;
    color: var(--color-white);
    background-color: var(--color-black);


    &__h1 {
        padding: 5% 0% 5% 0%;
        font-size: $font-size-h1;
        font-weight: bold;
        line-height: 1.5;
        color: var(--color-white);
        text-align: center;
        letter-spacing: 5;
        word-spacing: 8;

        @media (min-width: 992px) {
            font-size: $desk-font-size-h1;
        }
    }

    &__nav {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 3%;
        font-size: 1.5rem;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 3;
        background-color: var(--color-black);
        border-bottom: double 10px var(--color-darkBlue);
        word-spacing: 1.5rem;

    }

    &__li {
        display: inline-block;
    }

    &__li:hover {
        font-size: 1.4rem;
        color: var(--color-red);
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.6s;
    }

    &__img {
        padding-top: 15%;
    }
}