.container {
  width: 85%;
  margin: 0 auto;
  font-family: $font-family-spacial3;
  line-height: 1.5;
  color: var(--color-white);
  text-align: justify;

}

.body{
  background-color: var(--color-darkBlue);
}