.table {
    margin: 0 auto;

    &__caption {
        font-size: 1.5rem;

        @media (min-width: 992px){
            font-size: 2rem;
        }
    }

    &__td {
        text-align: center;
        border: 1px var(--color-white) solid;
    }

    &__th {
        padding: 2% 0% 2% 0%;
        font-size: 0.8rem;
        color: var(--color-blue);
        text-align: center;
        border: 0.7rem transparent solid;

        @media (min-width: 992px){
            font-size: 1.3rem;
        }
    }
}